.swedenMap {
    box-sizing: content-box;
    height: 70vh;
    width: auto;
}

.swedenMap path {
    position: relative;
    fill: #cccccc;
    fill-opacity: 1;
    stroke: white;
    stroke-opacity: 1;
    stroke-width: 0.5;
}

.hover {
    fill: rgb(161, 161, 161) !important;
}